.header {
    height: 240px;
    display: flex;
    padding-left: 20%;
}

.creative {
    width: 50%;
    height: 50%;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}


.who {
    width: 300px;
    height: 87px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.who p {
    font-weight: 400;
}


.pic1 {
    position: absolute;
    width: 270px;
    height: 426.5px;
    left: 20%;
    top: 244.5px;
}

.photoandprofile {
    width: 100%;
    height: 80%;
    display: flex;
}

.photo {
    width: 90%;
    height: 100%;
}

.profile {
    width: 10%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.name {
    width: 100%;
    height: 20%;
}

.namepara {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}

.profilename {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    color: #000000;
    writing-mode: vertical-lr;
}

.pic2 {
    position: absolute;
    width: 305.21px;
    height: 471px;
    left: 45%;
    top: 396px;
}


.pic3 {
    position: absolute;
    width: 300.81px;
    height: 399.96px;
    left: 70%;
    top: 244px;
}



.pic4 {
    position: absolute;
    width: 276.68px;
    height: 469px;
    left: 20%;
    top: 760px;
}



.pic5 {
    position: absolute;
    width: 274.36px;
    height: 360px;
    left: 45%;
    top: 944px;
}


.pic6 {
    position: absolute;
    width: 335.75px;
    height: 449px;
    left: 70%;
    top: 796px;
}

.footer {
    position: absolute;
    width: 287px;
    height: 17px;
    left: 45%;
    top: 1448px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 40px;
    color: #A9A9A9;

}


@media only screen and (max-width: 1280px) {



    .pic2 {
        left: 60%;
    }

    .pic3 {
        left: 20%;
        top: 930px;
    }

    .pic4 {
        width: 276.68px;
        height: 469px;
        left: 60%;
        top: 960px;
    }



    .pic5 {
        left: 20%;
        top: 1500px;
    }

    .pic6 {
        left: 60%;
        top: 1596px;
    }

    .footer{
        top: 2050px;
        left: 40%;
    }

}


@media only screen and (max-width: 840px) {

    .header {
        padding-left: 0px;
    }

    .pic1 {
        left: 0px;
        left: 15px;
    }

    .pic2 {
        top: 299px;
        left: 50%;
    }



    .pic3 {
        left: 15px;
        top: 830px;
    }



    .pic4 {
        left: 55%;
        top: 960px;
    }


    .pic5 {
        left: 15px;
        top: 1500px;
    }


    .pic6 {
        position: absolute;
        left: 50%;
        top: 1596px;
    }
    .footer{
        top: 2030px;
        left: 30%;
    }



}

@media only screen and (max-width: 610px) {
    .header {
        padding-left: 10px;
        flex-direction: column;
    }

    .creative {
        width: 100%;
        height: 30%;
        font-size: 36px;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
        margin-bottom: 50px;
    }

    .who {
        width: 100%;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;

    }

    .who p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }



    .pic1 {
        width: 40%;
        height: 40%;
        top: 300px;
        left: 15px;
    }

    .pic2 {
        width: 40%;
        height: 40%;
        top: 330px;
        left: 55%;
    }



    .pic3 {
        width: 40%;
        height: 40%;
        left: 15px;
        top: 630px;
    }



    .pic4 {
        width: 40%;
        height: 40%;
        left: 55%;
        top: 680px;
    }


    .pic5 {
        width: 40%;
        height: 40%;
        left: 15px;
        top: 1000px;
    }


    .pic6 {
        width: 40%;
        height: 40%;
        left: 55%;
        top: 1026px;
    }
    .footer{
        top: 1350px;
        left: 10%;
    }


}